<script type="text/ng-template" id="/recordsEdit.html">
    <div class="search-panel">
        <div class="wrapper">
            <div class="return-results">
                <div style='cursor: pointer;'> &#60; Return to results</div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="article-details">
            <h2 ng-click='test()'>ADMIN PORTAL</h2>
            <div class="article-left-col col-md-6">
                <dl class="dl-horizontal">
                    <div ng-repeat="row in contentManagerEdit.model.rowsList">
                        <dt>{{row.title}}</dt>
                        <dd><input type='text' value='{{row.value}}' /></dd>
                    </div>
                </dl>
            </div>
            <button type="button" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-warning">Cancel</button>
        </div>
    </div>
    
</script>
